{% extends "base.html" %}

{% block main %}
    
<section class="bg-gray-900">
  <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-white">Document {{ document.name.value }}</h2>
      
    <div class="flex gap-4 mb-2 text-sm font-medium text-white">
      <span>Version</span>
        
      {% for version in versions %}
          {% if document.version.value is version and document.effective.value == None %}
            <a class="mb-2 font-bold text-white border-white border-2 rounded-lg px-2 py-1" 
               href="/document/{{ document.uuid.value }}/{{ version }}">
          {% elif document.version.value is version and document.effective.value != None %}
            <a class="mb-2 font-bold text-white border-green-300 border-2 rounded-lg px-2 py-1" 
               href="/document/{{ document.uuid.value }}/{{ version }}">
          {% else %}
            <a class="mb-2 text-sm font-medium text-white px-2 py-1"  
              href="/document/{{ document.uuid.value }}/{{ version }}">
          {% endif %}
              {{ version }}
            </a>
      {% endfor %}
    </div>

    <form 
      action="/document/{{ document.uuid.value }}" 
      method="post"
    >
      {% csrf_token %}
      {{ document.uuid }}
      <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
          <div class="sm:col-span-2">
              <label class="block mb-2 text-sm font-medium text-white">
                  Document Name
              </label>
              <input 
                  type="text" 
                  name="name" 
                  id="name" 
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg 
                      focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 
                      border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 
                      focus:border-primary-500" 
                  value="{{ document.name.value }}"
                  required=""
              >
          </div>
          <div class="w-full">
              <label class="block mb-2 text-sm font-medium text-white">Version</label>
              <input 
                  type="text" 
                  name="version" 
                  id="brand" 
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg 
                      focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 
                      border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 
                      focus:border-primary-500" 
                  value="{{ document.version.value }}"
                  required=""
                  readonly
              >
          </div>
          <div class="w-full">
              <label class="block mb-2 text-sm font-medium text-white">Author</label>
              <input 
                  type="text" 
                  name="author" 
                  id="brand" 
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg 
                      focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 
                      border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 
                      focus:border-primary-500" 
                  value="{{ document.author.value }}"
                  required=""
              >
          </div>
          <div class="w-full">
              <label class="block mb-2 text-sm font-medium text-white">Effective</label>
              <input 
                  type="text" 
                  name="effective" 
                  id="effective" 
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg 
                      focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 
                      border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 
                      focus:border-primary-500" 
                  value="{{ document.effective.value }}"
                  required=""
              >
          </div>
          <div class="w-full">
              <label class="block mb-2 text-sm font-medium text-white">Withdrawn</label>
              <input 
                  type="text" 
                  name="withdrawn" 
                  id="effective" 
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg 
                      focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 
                      border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 
                      focus:border-primary-500" 
                  value="{{ document.withdrawn.value }}"
                  required=""
              >
          </div>
          <div class="w-full">
              <label class="block mb-2 text-sm font-medium text-white">Signed by</label>
              <input 
                  type="text" 
                  name="signed_by" 
                  id="signed_by" 
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg 
                      focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 
                      border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 
                      focus:border-primary-500" 
                  value="{{ document.signed_by.value }}"
                  required=""
              >
          </div>
          <div class="w-full">
              <label class="block mb-2 text-sm font-medium text-white">Withdrawn by</label>
              <input 
                  type="text" 
                  name="withdrawn_by" 
                  id="withdrawn_by" 
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg 
                      focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 
                      border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 
                      focus:border-primary-500" 
                  value="{{ document.withdrawn_by.value }}"
                  required=""
              >
          </div>
          <div class="sm:col-span-2">
              <label class="block mb-2 text-sm font-medium text-white">Content</label>
              <textarea 
                  name="text" 
                  id="id_text"
                  rows="10" 
                  required=""
                  class="border border-gray-300 text-gray-900 text-sm rounded-lg 
                      focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 
                      border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 
                      focus:border-primary-500" 
              >{{ document.text.value }}</textarea>
              
          </div>
      </div>
      <div class="flex items-center space-x-4">
          <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              Update
          </button>
          <a href="/document/{{ document.uuid.value }}/create" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              New Version
          </a>
          <a href="/document/{{ document.uuid.value }}/sign" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              Sign
          </a>
      </div>
    </form>
  </div>
</section>
    
{% endblock %}